<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lenkR</title>
    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/button.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="logo">Lenk<span class="logo-R">R</span></h1>

    <p>
        Har du noen gang hatt lyst å dele en lenke med noen, men så legger du merke til at URL-en er altfor lang og hele Slack-meldingen din ville blitt spist opp av kun den? Dette er problemet vi løser her 🚀
    </p>

    {{ block "shortened-url-form" . }}
    <form class="shortened-url-form" hx-post="/shorten">
        <label for="url">
            Destinasjon:
            <input type="text" name="url" placeholder="URL" required>
        </label>

            <label for="short-url">
                Egen kort URL: <span style="color: var(--grey);">(valgfritt)</span>
                <div class="input-border mono" style="display: flex; align-items: center;">
                    <span class="mono">lenkr.t3s.no/l/</span>
                    <input class="mono" type="text" name="shortUrl" placeholder="Kort URL" style="border: none; padding: 0; font-size: 1rem; flex: 1;">
                </div>
            </label>

            <button class="pushable" style="max-width: fit-content;">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front">
                    Forkort
                </span>
            </button>
    </form>
    {{ end }}
</body>
</html>
