
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lenkR</title>
    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/button.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="logo">Lenk<span class="logo-R">R</span></h1>

    <h2>Forkortede lenker</h2>
    <ul id="shortened-url-list" class="shortened-url-list">
        {{ range . }}
            {{ block "shortened-url-item" .}}
            <li class="shortened-url-list-item">
                <a class="mono" href="/l/{{ .ShortUrl }}" target="_blank" style="white-space: nowrap;">{{ .ShortUrl }}</a>
                <span style="white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;">{{ .Url }}</span>
            </li>
            {{ end }}
        {{ end }}
</body>
</html>
